<html>
<head>
    <!--定時轉到其他頁面 -->
    <meta http-equiv="refresh" content="10;url=https://dentsuapp.dentsu.com.tw/">
</head>
<body>
    <h1>因應集團re-branding，我們搬家了！</h1> </br>
    <h4>請更改或刪除原本的 Bookmark，使用新的網址 -></h4> </br>
    <h4>請點擊以下連結</h4> </br>
    <h2><a href="https://dentsuapp.dentsu.com.tw/Default.aspx">https://dentsuapp.dentsu.com.tw/Default.aspx</a></h2> </br>
    <h4>頁面將於10秒鐘後自動跳轉，若無跳轉時再請手動點選連結，謝謝!</h4></br>
</body>
</html>
